name: Price Monitor CI

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"

jobs:
  check-price:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: python -m playwright install chromium

      - name: Install Playwright browsers
        run: |
          playwright install chromium  

      - name: Run price monitor
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          python -m src.main

      - name: Debug environment
        run: |
          pwd
          ls -R
          python --version
          pip list


