name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install pytest
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Check pytest exists
        run: |
          which pytest
          pytest --version

      - name: Run tests
        run: pytest -q

      - name: Notify Slack (success)
        if: success()
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: '{ "text": "✅ CI Passed!" }'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Notify Slack (failure)
        if: failure()
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: '{ "text": "❌ CI Failed!" }'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
