name: Price Monitor CI

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"

jobs:
  check-price:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run price monitor
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          PYTHONPATH: ${{ github.workspace }}/src
        run: |
          python src/main.py
      - name: Debug environment
        run: |
          pwd
          ls -R
          python --version
          pip list


